@Model AuctionMVCSite.Models.Auction



@{ 
    //ViewData, ViewBag and Model 3 way can be render the controller with view

    //can be use either VireData or ViewBag
    //var auction = (AuctionMVCSite.Models.Auction)ViewData["Auction"];
    //var auction = ViewBag.Auction;

    var auction = Model;
}

<a href="@Url.Action("Login", "Account")">Login</a>

<div class="auction">
    <h3>@auction.Title</h3>

    <div class="details">
        <p>Start Time: @auction.StartTime.ToString("g")</p>
        <p>End Time: @auction.EndTime.ToString("g")</p>
        <p>Starting Price: @auction.StartPrice.ToString("C")</p>
        <p class="current-price">Current Price:
            @*
                Since CurrentPrice is nullable we have to check to
                see if it has a value before we call .ToString()!
            *@
            @if (auction.CurrentPrice == null)
            {
                <text>
                    [No bids]
                </text>
            }
            else
            {
                <span>@auction.CurrentPrice.Value.ToString("C")</span>
                <span>[@auction.BidCount bids]</span>
            }
        </p>
        <p>
            @using (Html.BeginForm("Bid", "Auctions"))
            {
                var lowestBidAmount = auction.CurrentPrice.GetValueOrDefault(auction.StartPrice) + 1;
                <span>
                    Bid: Html.TextBox("amount", lowestBidAmount)
                    Html.ValidationMessage("amount")
                </span>
                <span>
                    Html.Hidden("auctionId", auction.Id)
                    @Html.AntiForgeryToken()
                    <input class="post-bid" type="submit" value="Bid" />
                </span>
                
            }
        </p>
    </div>

         


    @if (auction.ImageUrl != null)
    {
        <img src="@auction.ImageUrl" title="@auction.Title" />
        }

    <div class="description">
        @auction.Description
    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.post-bid').on("click", function () {

                var form = $(this).parent("form");

                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize()
                })
                    .success(function (html) {
                        $('_current-price').replaceWith(html);
                        //alert("Your bid has been submitted!");
                    })
                    .error(function () {
                        alert("Your bid has been rejected");
                    });

                return false;
            });
        });
    </script>
}
